<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>338050647127-6bcjgbs9355i2r92vr6ms7oasj9lul8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338050647127-6bcjgbs9355i2r92vr6ms7oasj9lul8m</string>
	<key>API_KEY</key>
	<string>AIzaSyD-VA09NqQVnw5KPVdWH5tODkpJdPUAfPk</string>
	<key>GCM_SENDER_ID</key>
	<string>338050647127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Azmi.InstagramClone2</string>
	<key>PROJECT_ID</key>
	<string>instagramclone2-d84b0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone2-d84b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338050647127:ios:7d2a93ea8f23bd37</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone2-d84b0.firebaseio.com</string>
</dict>
</plist>